# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.d

# Executables
*.exe
*.out
*.app

#Linux TXT Editor Backup
*.*~


#Eclipse workspace data folder
.metadata

#Eclipse binary folder for debug
*/Debug/*

#Eclipse binary folder for release
*/Release/*

#NoBuild Config Folders
*/NoBuild/*