.tabs, .tabs2, .tabs3 {
	background-color: #333333;
    background-image: none;
    width: 100%;
    z-index: 101;
    font-size: 13px;
    font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;

}

.tablist a {

	background-image:none;
	background-color: #333333;
	color: #FFFFFF;
    text-decoration: none;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
}

.tablist a:hover {
	background-image:none;
	background-color: #AAAA00;
	
	/* Safari 4-5, Chrome 1-9 */ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffff00), to(#333333)); 
	/* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #333333, #ffff00); 
	/* Firefox 3.6+ */ 
	background: -moz-linear-gradient(top, #333333, #ffff00); 
	/* IE 10 */ 
	background: -ms-linear-gradient(top, #333333, #ffff00); 
	/* Opera 11.10+ */ 
	background: -o-linear-gradient(top, #333333, #ffff00);

	color: #000000;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 1.0);
    text-decoration: none;
}

.tablist li.current a 
{
	background-image:none;
	background-color: #AAAA00;
	
	/* Safari 4-5, Chrome 1-9 */ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffff00), to(#333333)); 
	/* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #333333, #ffff00); 
	/* Firefox 3.6+ */ 
	background: -moz-linear-gradient(top, #333333, #ffff00); 
	/* IE 10 */ 
	background: -ms-linear-gradient(top, #333333, #ffff00); 
	/* Opera 11.10+ */ 
	background: -o-linear-gradient(top, #333333, #ffff00);

	color: #000000;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 1.0);
    text-decoration: none;
}

#titlearea
{
	color: #FFFFFF;
	background-color: black;
	padding: 0px;
	margin: 0px;
	width: 100%;
	border-bottom: 1px solid #ffff00;
}

.ui-resizable .ui-resizable-handle {
  display:block;
}

.ui-resizable-e {
  background: repeat scroll right center transparent;
  cursor:e-resize;
  background-color: #333333;
  height:100%;
  right:0;
  top:0;
  width:6px;
}

#nav-tree .selected {
  background-image: none;
  background-color: #333333;
  background-repeat:repeat-x;
  color: #FFFFFF;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
}

.ui-resizable-handle {
  display:none;
  font-size:0.1px;
  position:absolute;
  z-index:1;
}

.navpath ul {

    font-size: 11px;
    background-image: none;
    background-color: #333333;
    background-repeat: repeat-x;
    background-position: 0px -5px;
    height: 30px;
    line-height: 30px;
    color: rgb(138, 160, 204);
    border: 1px solid rgb(194, 205, 228);
    overflow: hidden;
    margin: 0px;
    padding: 0px;

}

.navpath li.footer {

    list-style-type: none;
    float: right;
    padding-left: 10px;
    padding-right: 15px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: right center;
    color: #FFFFFF;
    font-size: 8pt;

} 

.navpath li.navelem a {
    height: 32px;
    display: block;
    outline: medium none;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.9);
    text-decoration: none;
}

a {
    color: rgb(0, 0, 0);
    font-weight: normal;
    text-decoration: none;
}

#nav-tree .selected a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#projectname {
    font: 200% Tahoma,Arial,sans-serif;
    margin: 0px;
    padding: 2px 0px;
    color:yellow;
}

div.header {
    background-image: url("nav_h.png");
    background-repeat: repeat-x;
    background-color: rgb(249, 250, 252);
    margin: 0px;
    border-bottom: 1px solid rgb(150, 150, 0);
}